# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Data / outputs (important for ML later)
data/
datasets/
models/
outputs/